*{
    margin: 0;
    padding: 0;
}

.icon{
    position: absolute;
    top:145px;
    left: 0;
    align-items:center;
    background: linear-gradient(123deg, yellow,black);
    overflow: hidden;
    

}
@media (max-width:584px) {
     .icon .nav-item{
   max-width:135%;
    background-color: black;     }
}