
*{
    margin: 0%;
    padding: 2%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
   
    background-image: url(https://images.pexels.com/photos/1181325/pexels-photo-1181325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
   display: flex;
   justify-content: center;
   align-items: center;
height: 100vh;
padding: 10px;
}
.project{
    
    color:#9b59b6;
    display: flex;
    flex-wrap:nowrap;
}

.container{
    color: #e2e8ec;
    max-width: 900px;
    width: 100%;
    background-color:rgb(0,0,0,0.5);
    padding: 25px 40px;
    border-radius: 20px;
}

.container .box{
   width: 810px;
 background:linear-gradient(140deg,#692a2a,#9b9b9b);
    margin:auto;
    color: aquamarine;
    text-align: center;
    padding: 3px 0px 4px 0px;
    border-radius: 23px;
}
 .container form .u-details{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
    }
    
    }  /* this coln maintian speces between icons but did'nt understand how??    */
 

 form .u-details .input{
     height: 100px;
       width: calc(100%/2 -20px);
       margin: 20px 0 20px 0;
 }

 form .u-details .input input{
     height: 30px;
     width: 100%;
 }

 form .u-details .input details{
     display: block;
     font-weight: 500%;
     margin-bottom: 5px ;
      
 }
 .u-details .input input{
     height: 30px;
     width: 200%;
     overflow: hidden;
     outline: none;
     border-radius: 12px;
     padding-left: 20px;
     border-bottom-width:5px ;
     transition: all 0.4s ease;

 }

 .u-details .input input:focus,
 .u-details .input  input:valid{
     border: #6b45d3;
 }
.container form .button {
   display: flex; 
   flex-wrap: wrap; 
   justify-content:end;
   margin: 30px 78px 0;

}
.container form .button .button1 input{
    border-radius: 13px;
    height: 50px;
    width: 200px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container form .button .button2 input{
    width: 200px;
    height: 50px;
    border-radius: 13px;
    background:linear-gradient(135deg,#8babc0,#aa0ce9);
}
form .button .button1 input:hover{
     background: linear-gradient(-13deg,#71b7e6,#9b59b6);
        color: #857e88;
}

form .button .button2 input:hover{
    background: linear-gradient(-13deg,#8babc0,#aa0ce9);
    color: navajowhite;
}

/* Responsive Code */
@media (max-width:584px){
    .container{
        max-width: 100%;
        background-color: #692a2a;
    }
    .container .box{
        max-width: 79%;
    }
    form .u-details .input{
        margin: 15px;
        width: 100px;
    }
    .container form .u-details {
        max-height:270px;
        overflow-y: scroll;
    }
    .u-details::-webkit-scrollbar{
        width: 10px;
    } 
    form .button .button1{

        max-width: 140%;
        /* flex-direction: unset; */
     
    }
    form .button .button2{
        max-width: 140%;
     
    }
}